body {
  font-family: "Palanquin", sans-serif;
  min-height: 100%;
}

.body-wrapper {
  position: relative;
  /* min-height: 70vh; */
  background-color: rgb(255, 255, 255) !important;
  margin-top: 0px !important;
  padding: 15px;
}

.full-height {
  min-height: 100%;
}

.nav-wrapper {
  background-color: rgb(41, 39, 39);
  min-height: 80px;
}

.nav-align {
  position: absolute;
  left: 10%;
}
.main-nav li {
  list-style-type: none !important;
}

input.main-nav-search {
  background: transparent !important;
  border: 1px cornsilk solid !important;
  color: cornsilk !important;
  width: 40vw !important;
}

input.main-nav-search::-moz-placeholder {
  color: cornsilk;
  opacity: 0.7;
}

input.main-nav-search::-ms-input-placeholder {
  color: cornsilk;
  opacity: 0.7;
}

input.main-nav-search::placeholder {
  color: cornsilk;
  opacity: 0.7;
}
.main-nav-search i {
  color: cornsilk;
}

.user-dropdown i {
  color: cornsilk;
}

/*=============== Home page css ================= */
.home-page__header {
  padding: 2rem 2rem 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.home-page__header .login-btn {
  margin-right: 1rem;
}
.home-page__header button.login-btn {
  background-color: transparent !important;
  color: #007bff;
}

.home-page__header button.login-btn:hover {
  background-color: #007bff !important;
  color: #fff;
  border: #007bff !important;
}

.home_page__slogan {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.centered {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home_page__centered__wrapper {
  width: 80%;
}
.home-page__searchbar {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.react-autosuggest__input {
  width: 100% !important;
  height: auto !important;
  padding: 10px 20px;
  /* font-family: Helvetica, sans-serif; */
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 45px !important;
  width: 100% !important;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-top: none;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list li {
  color: rgb(22, 22, 114);
}
.home-page__logo {
  margin-top: 10%;
  width: 50%;
}

@media screen and (max-width: 450px) {
  .home-page__logo {
    margin-top: 50%;
  }
}

.model_register input {
  width: 90% !important;
}

.home-page__category__icon:first-child {
  margin-right: 0px !important;
}
.home-page__category__icon {
  margin-left: 3rem !important;
}
.register_modal {
  max-width: 400px !important;
}
.modal_register__social__icons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around !important;
  align-items: center !important;
}

.register-button {
  margin-top: 10px;
}
.main_nav__brand-logo {
  width: 30px;
}

.home-page__header .profile-dropdown__icon,
.app .profile-dropdown__icon {
  color: brown;
}

/* ===========end of home page css ================ */

.hero-header {
  min-height: 80px;
  width: 100%;
  /* margin-bottom: 50px; */
  background-color: #018fd7;
  color: cornsilk;
}
.business-name {
  position: relative;
  display: inline-block;
}
.slogan {
  position: relative;
  display: inline-block;
}

.avatar {
  margin-right: 0.5rem;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-dropdown {
  padding: 10px;
}

.profile-dropdown__icon {
  margin-right: 2rem;
  color: cornsilk;
  cursor: pointer;
}

.profile-dropdown__item {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.profile-dropdown__item:hover {
  transform: translate(10px);
}

.profile-dropdown__item__icon {
  margin-right: 10px;
}

.profile-dropdown a {
  text-decoration: none;
  color: inherit;
}

.profile-dropdown a:hover {
  text-transform: none;
  color: inherit;
}

/* ======== Admin ============= */

.hr-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-industry {
  width: 100%;
}

/* =======Footer========= */
.footer {
  position: relative;
  min-height: 80px;
  /* border-bottom: 1px rgb(146, 144, 144) solid; */
}

.footer:after {
  content: "";
  display: block;
  margin: 2rem 5rem 1.5rem 5rem;
  border-bottom: 1px rgb(146, 144, 144) solid;
}

.footer-dark a {
  color: rgb(146, 144, 144);
  text-decoration: none;
}

.footer-dark a:hover {
  text-decoration: none;
  color: whitesmoke;
}

.bottom-footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  font-size: 0.7rem;
}

.bottom-footer__home {
  bottom: 0;
  position: fixed;
  z-index: 150;
  width: 100%;
  font-size: 0.7rem;
  _position: absolute;
  _top: expression(
    eval(
      document.documentElement.scrollTop +
        (document.documentElement.clientHeight-this.offsetHeight)
    )
  );
}

.footer-dark {
  background-color: rgb(41, 39, 39);
  color: rgb(146, 144, 144);
}

.footer-light {
  background-color: #fff;
  color: rgb(41, 39, 39);
}

.footer-light a {
  text-decoration: none;
  color: rgb(41, 39, 39);
}

.footer-light a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.bottom-footer__nav {
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -15px;
}

.bottom-footer__nav__item {
  display: inline-block;
  margin-right: 0.3rem;
}

.bottom-footer__nav__item:not(:last-child)::after {
  content: "|";
  margin-left: 0.3rem;
}

.bottom-footer__meta {
  text-align: center;
}

.footer-link {
  color: rgb(146, 144, 144);
  text-decoration: none;
}

.footer ul {
  list-style: none;
  padding-left: 0px !important;
}

.toll-free {
  margin-top: 20px;
}

.toll-free a {
  color: rgb(146, 144, 144);
  text-decoration: none;
}

.toll-free a:hover {
  color: whitesmoke;
  text-decoration: none;
}

.footer_social__icon {
  transition: ease 0.1s;
}

.footer_social__icon:hover {
  transform: scale(1.1);
}

/* react auto suggest */
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 999;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

/* Result list */
.result-header__text {
  color: rgb(36, 36, 206);
}

.result-page__thumbnail {
  width: 70px;
  object-fit: cover;
}

/* ============ Admin ============= */
