body {
  /* font-family: "Palanquin", sans-serif; */
  font-family: "Poppins", sans-serif;
  min-height: 100%;
}

.body-wrapper {
  position: relative;
  /* min-height: 70vh; */
  background-color: rgba(255, 255, 255, 0.5) !important;
  margin-top: 0px !important;
  /* padding: 15px; */
  /* padding-top: 60px; */
}

.full-height {
  min-height: 100%;
}

.nav-wrapper {
  background-color: rgb(41, 39, 39);
  min-height: 60px;
}

.nav-align {
  position: absolute;
  left: 10%;
}

.navbar-brand {
  padding: 0px !important;
  font-size: 1.3rem;
  font-weight: bold;
}

.business-navbar {
  border-bottom: 1px solid rgba(202, 206, 209, 0.3);
  z-index: 99;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 1px rgba(196, 174, 196, 0.79);
  -webkit-box-shadow: 0px 1px 6px 1px rgba(196, 174, 196, 0.79);
  -moz-box-shadow: 0px 1px 6px 1px rgba(196, 174, 196, 0.79);
}

.main-nav li {
  list-style-type: none !important;
}

.main-nav {
  height: 85px;
}

.main-nav.small {
  height: 60px;
}

input.main-nav-search {
  background: white !important;
  border: 1px lightgrey solid !important;
  color: darkslategrey !important;
  width: 40vw !important;
}

input.main-nav-search::-moz-placeholder {
  color: darkslategrey;
  opacity: 0.7;
}

input.main-nav-search::-ms-input-placeholder {
  color: darkslategrey;
  opacity: 0.7;
}

input.main-nav-search::placeholder {
  color: darkslategrey;
  opacity: 0.7;
}
.main-nav-search i {
  color: cornsilk;
}

.main-nav {
  /* border: 0.5px solid lightgray; */
  /* background-color: #ffe200 !important; */
  background-color: #15c111 !important;
  /* color: white; */
}

.main-nav .navbar-brand {
  color: white;
}
.main-nav .navbar-brand:hover {
  color: rgb(243, 239, 239);
}

.user-dropdown i {
  color: cornsilk;
}

/*=============== Home page css ================= */
.home-page__header {
  padding: 2rem 2rem 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.home-page__header .login-btn {
  margin-right: 1rem;
}
/* .home-page__header button.login-btn {
  background-color: transparent !important;
  color: #007bff;
}

.home-page__header button.login-btn:hover {
  background-color: #007bff !important;
  color: #fff;
  border: #007bff !important;
} */

.home_page__slogan {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.centered {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home_page__centered__wrapper {
  width: 80%;
}
.home-page__searchbar {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.react-autosuggest__input {
  width: 100% !important;
  height: 50px !important;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
/* .react-autosuggest__input.small {
  height: 30px;
} */

.react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 45px !important;
  width: 100% !important;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-top: none;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list li {
  color: rgb(22, 22, 114);
}
.home-page__logo {
  margin-top: 10%;
  width: 50%;
}

@media screen and (max-width: 450px) {
  .home-page__logo {
    margin-top: 50%;
  }
}

.model_register input {
  width: 90% !important;
}

.home-page__category__icon:first-child {
  margin-right: 0px !important;
}
.home-page__category__icon {
  margin-left: 3rem !important;
}
.register_modal {
  max-width: 400px !important;
}
.modal_register__social__icons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around !important;
  align-items: center !important;
}

.register-button {
  margin-top: 10px;
}

.home-page__header .profile-dropdown__icon,
.app .profile-dropdown__icon {
  color: brown;
}

/* ===========end of home page css ================ */

.hero-header {
  min-height: 80px;
  width: 100%;
  /* margin-bottom: 50px; */
  background-color: #018fd7;
  color: cornsilk;
}
.businessb-name {
  position: relative;
  display: inline-block;
}
.slogan {
  position: relative;
  display: inline-block;
}

.avatar {
  margin-right: 0.5rem;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 5px;
  background-color: antiquewhite;
  cursor: pointer;
}

.profile-dropdown {
  font-size: 1rem !important;
  padding: 15px;
  text-transform: none;
}

.profile-dropdown__icon {
  margin-right: 2rem;
  color: grey;
  cursor: pointer;
}

.profile-dropdown__item {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.profile-dropdown__item:hover {
  transform: translate(10px);
}

.profile-dropdown__item__icon {
  margin-right: 10px;
}

.profile-dropdown a {
  text-decoration: none;
  color: inherit;
  /* font-size: 1rem !important; */
}

.profile-dropdown a:hover {
  text-transform: none;
  color: inherit;
}

.forget-pass-wrapper {
  background-color: #f0f3f5eb;
  padding: 20px;
}

.login-modal-wrapper {
  padding: 20px;
}

.modal-title {
  color: #018fd7;
  margin-bottom: 20px;
}

/* ======== Admin ============= */

.hr-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-industry {
  width: 100%;
}

.rt-td {
  overflow: visible !important;
}

/* =======Footer========= */
.footer {
  position: relative;
  min-height: 80px;
  /* border-bottom: 1px rgb(146, 144, 144) solid; */
}

.footer:after {
  content: "";
  display: block;
  margin: 2rem 5rem 0rem 5rem;
  border-bottom: 1px rgb(146, 144, 144) solid;
}

.footer-dark a {
  color: rgb(146, 144, 144);
  text-decoration: none;
}

.footer-dark a:hover {
  text-decoration: none;
  color: whitesmoke;
}

.bottom-footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  font-size: 0.7rem;
}

.bottom-footer__home {
  bottom: 0;
  position: fixed;
  z-index: 150;
  width: 100%;
  font-size: 0.7rem;
  _position: absolute;
  _top: expression(
    eval(
      document.documentElement.scrollTop +
        (document.documentElement.clientHeight-this.offsetHeight)
    )
  );
}

.footer-dark {
  background-color: rgb(41, 39, 39);
  color: rgb(146, 144, 144);
}

.footer-light {
  background-color: #fff;
  color: rgb(41, 39, 39);
}

.footer-light a {
  text-decoration: none;
  color: rgb(41, 39, 39);
}

.footer-light a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.bottom-footer__nav {
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-bottom: -15px; */
}

.bottom-footer__nav__item {
  display: inline-block;
  margin-right: 0.3rem;
}

.bottom-footer__nav__item:not(:last-child)::after {
  content: "|";
  margin-left: 0.3rem;
}

.bottom-footer__meta {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-link {
  color: rgb(146, 144, 144);
  text-decoration: none;
}

.footer ul {
  list-style: none;
  padding-left: 0px !important;
}

.toll-free {
  margin-top: 20px;
}

.toll-free a {
  color: rgb(146, 144, 144);
  text-decoration: none;
}

.toll-free a:hover {
  color: whitesmoke;
  text-decoration: none;
}

.footer_social__icon {
  transition: ease 0.1s;
}

.footer_social__icon:hover {
  transform: scale(1.1);
}

/* react auto suggest */
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid rgb(224, 215, 215);
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 999;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

/* Result list */
.result-header__text {
  color: rgb(36, 36, 206);
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 300;
}

.result-page__thumbnail {
  width: 90px;
  object-fit: cover;
}

.input-range__track,
.input-range__slider-container {
  transition: none !important;
}

.result-page-meta .input-range__label.input-range__label--value {
  display: none !important;
}

/* ========== Ecommerce ============= */

.ecommerce-range-filter .input-range__track--active {
  background: #746868 !important;
}
.ecommerce-range-filter .input-range__slider {
  background: #746868 !important;
  border: 1px solid #746868;
}

.ecommerce-search-container > .ui {
  width: 100%;
}

.menu-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.menu-list-container {
  background-color: #fff;
  position: relative;
  padding-right: 5px;
  padding-left: 5px;
  border: 0.5px solid lightgray;
  /* border-top: none; */
  z-index: 20;
}

.category-list-item {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.category-list-item:hover {
  background-color: rgb(238, 234, 234);
  color: #15c111;
}

.sub-menu-container {
  position: absolute;
  display: flex;
  z-index: 20;
  flex: 1;
  top: 0;
  left: 100%;
  height: 100%;
  width: 600px;
  overflow: hidden;
}

.sub-menu {
  position: relative;
  background-color: rgba(255, 255, 255, 0.99);
  padding: 10px 20px;
  margin-left: 0px;
  height: 100%;
  max-width: 100%;
  border: 0.5px solid lightgray;
  border-right: left;
  -webkit-columns: 180px;
  -moz-columns: 180px;
  columns: 180px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

.sub-menu-name,
.sub-menu-item-name {
  cursor: pointer;
}

.sub-menu-name:hover,
.sub-menu-item-name:hover {
  color: #15c111;
}

.active-menu-name {
  color: #15c111;
}

.sub-cat-column {
  display: inline-block;
  width: 100%;
  position: relative;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.sub-cat-column-content {
  display: inline-block;
  width: 100%;
  position: relative;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.product-card {
  cursor: pointer;
}
.product-card:hover {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4) !important;
}

.product-card-thumbnail {
  height: 200px;
  object-fit: cover;
}

.hor-filter-sort__container {
  min-width: 50px;
  border-top: 0.5px solid lightgray;
  border-bottom: 0.5px solid lightgray;
  padding: 10px 0;
}
.ecommerce-bread-crumbs {
  margin-bottom: 0px;
}

.filter-title {
  padding-top: 10px;
}

.mega-menu__container__main_nav {
  position: absolute;
  top: 45px;
  left: 0px;
}

.ecommerce-nav__megamenu__dropdown.ui.dropdown .menu {
  border: none !important;
  background: none !important;
  margin-top: 20px;
}
.arrow-up {
  width: 100%;
  height: 28px;
  position: absolute;
  overflow: hidden;
  left: 10px;
  top: -25px;
  z-index: 25;
}

.arrow-up::before {
  background-color: #d3d3d3;
  top: 22px;
  content: "";
  width: 40px;
  height: 40px;
  left: -7px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}
.arrow-up::after {
  background-color: #fff;
  top: 23px;
  content: "";
  width: 40px;
  height: 40px;
  left: -7px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}
.react-tagsinput-input {
  width: 140px !important;
}

.filter-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 0.5px solid lightgray;
  cursor: pointer;
}

.collapse-icon {
  font-size: 10px;
  color: #746868;
}

/* .login-register-avatar .ui.top.left.pointing.dropdown > .menu {
  left: -240px !important;
} */
/* ======== Product List =========== */

.sort-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 7px;
  /* border: 0.5px solid lightgray; */
}

/* ======= Ecommerce Product Details */
.product-detail__title {
  color: gray;
}

.active-product-img {
  border: 2px solid lightskyblue;
}
.product-img {
  cursor: pointer;
}
.product-img:hover {
  border: 2px solid lightskyblue;
}
.product-spec-item {
  padding-top: 10px;
  padding-left: 5px;
  border-top: 0.5px solid lightgray;
  margin-bottom: 5px;
}

.product-spec-item:last-child {
  border-bottom: 0.5px solid lightgray;
  padding-bottom: 10px;
}
