/* .ReactTable .rt-thead.-filters input,
.ReactTable .rt-thead.-filters select {
  padding: 8px 7px !important;
}

.ReactTable .rt-thead.-filters .Select-input input,
.ReactTable .rt-thead.-filters select {
  padding: 8px 0px !important;
} */

.ReactTable .rt-noData {
  z-index: 0 !important;
}

.ReactTable .rt-th
 /* .ReactTable .rt-td  */
 {
  white-space: pre-wrap !important;
}
