.banner-wrapper {
  max-height: 60vh;
  max-width: 100vmax;
  overflow: hidden;
}

.active-check {
  font-weight: bold;
  color: red;
}
.minisite_banner__img {
  display: block;
  object-fit: cover;
  height: 80vh;
  width: 100%;
}

.minisite_heading__text_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.minisite_heading__text {
  text-align: center !important;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.minisite_heading__text::after {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #615c70;
  bottom: -15px;
  margin: auto;
  position: relative;
}

.text-justify {
  text-align: justify;
}

.profile-dropdown__item__heading {
  text-align: center;
}

.minisite_business__nav__item {
  text-transform: uppercase;
}
.minisite_banner__wrapper {
  position: relative;
}
.minisite_banner__img__change__overlay {
  position: absolute;
  padding: 0.7rem;
  background-color: cornflowerblue;
  right: 1%;
  top: 10%;
  z-index: 99;
  color: cornsilk;
  display: none;
}
.minisite_banner__img__change__overlay:hover {
  display: block;
}

.minisite_banner__img__change__overlay a,
.minisite_banner__img__change__overlay a:hover {
  text-transform: none;
  color: cornsilk;
}

.minisite_banner__img:hover + .minisite_banner__img__change__overlay {
  display: block;
}

.minisite_about__edit__icon {
  display: inline-block;
  font-size: 1.3rem;
  margin-left: 1.2rem;
}

.gallery-wrapper {
  /* position: relative; */
  min-height: 80vh !important;
  padding: 20px;
}

.gallery-list {
  position: relative;
}
.gallery_upload {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #151b1ec4;
  color: white;
}
.upload-camera {
  margin-top: 10px;
  font-size: 3rem;
}

.album-title {
  margin-bottom: 15px;
}
.album-title p {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.album-title p:after {
  content: "";
  display: inline-block;
  width: 30px;
  margin-left: 5px;
  margin-bottom: 0.3rem;
  border-bottom: 2px solid #000;
}

#ReactGridGallery img {
  object-fit: cover;
}

/* Progress Bar */
.progressbar-red .CircularProgressbar-path {
  stroke: red !important;
}
.progressbar-blue .CircularProgressbar-path {
  stroke: blue !important;
}
